@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3>Account info for testing</h3>
<ul>
    <li>username : Admin </li>
    <li>Email : admin@pxl.com </li>
    <li>Password : Admin1234$ </li>
</ul>